<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="IDE_test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <IDE_test.Properties.Settings>
            <setting name="Hook" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Disassemble" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Overwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="a" serializeAs="String">
                <value />
            </setting>
        </IDE_test.Properties.Settings>
    </userSettings>
</configuration>